
$font-stack: Helvetica, sans-serif;

$black: #000;

$primary-color: #333;
$primary-gray: #4a5568;

$reply_color: #5357B6;
$reply_color-hover: #5357B6;
$trash_color: #ff0000;
$trash_color-hover: #9b0202;

$reaction_plus: #3c3cff;
$reaction_minus: #e51c1c;

$underpost_border_color: #c8c9c9;

$primary-buttor: #3e54a3;
$primary-buttor-hover: #657dc8;

$white: #f9f9f9;
$white-secondary: #F0F4F4;

$cancel_button_color: #7E8180;
$cancel_button_color-hover: #626464;
$delete_button_color: #ED6368;
$delete_button_color-hover: #bb3e42;



$comment-spacing: 25px;